#clients
  overflow-x hidden
  padding-bottom 90px
  #flexslider2
    overflow-x hidden
    background transparent
    border 4px solid transparent
    margin 0
    ul.slides
      li
        img
          max-height 65px
    .flex-direction-nav a
      width 46px
      line-height 65px
      text-align center
      top 31%
      height 65px
      background-color #000
      position: absolute;
      &:before
        color #ffffff
        font-size 32px
    .flex-control-nav
      bottom 23px
      li
        a
          width 20px
          height 20px
          display block
          background #414146
          cursor pointer
          text-indent -9999px
          box-shadow none
          border-radius 0
          border 3px solid #414146
          &.flex-active
            background-color #ffea00