@font-face
  font-family: "Code"
  src: url("../fonts/code/CODE Light.otf") format("opentype")

@font-face
  font-family: "Century Gothic"
  src: url("../fonts/century-gothic/CenturyGothic.ttf") format("truetype")

body
  background-color #f6f6f6

.sect-header-line
  position relative
  display inline-block
  padding 10px 30px
  background-color #424147
  color #ffea00
  font bold 18px "Century Gothic"
  text-transform uppercase
.sect-header-line:before
  content " "
  position absolute
  top 50%
  margin-left -1001em
  height 2px
  width 998em
  border-top 1px solid #cacaca
  background rgba(0,0,0,0.2)
.sect-header-line:after
  content " "
  position absolute
  top 50%
  margin-left 3em
  height 2px
  width 998em
  border-top 1px solid #cacaca
  background rgba(0,0,0,0.2)
.header-desc-line
  color #424146
  font bold 16px "Century Gothic"
  margin 33px auto 42px

@media screen and (min-width: 320px)
  header
    min-height 160px
  nav#main-nav
    ul.menu
      li
        margin-right 35px
        a
          color #000
          padding 30px 10px
          font bold 16px "Code"
          text-transform uppercase
        &.active
          a
            background-color #ffea00
        &:hover
          background-color #ffea00
  #header-main
    overflow-x hidden
    .flex-direction-nav a
      width 46px
      line-height 100px
      text-align center
      height 100px
      background-color #000
      position: absolute;
      &:before
        color #ffffff
        font-size 32px
    .flex-control-nav
      bottom 23px
      li
        a
          width 20px
          height 20px
          display block
          background #414146
          cursor pointer
          text-indent -9999px
          box-shadow none
          border-radius 0
          border 3px solid #414146
          &.flex-active
            background-color #ffea00
    #flexslider1
      margin 0
      ul.slides
        li
          position relative
          .flex-content
            position absolute
            top 0
            left 0
            width 100%
            height auto
            .slider-content-text
              margin-top 15px
            .slider-content
              margin-top 22px
              h2.slider-header
                letter-spacing 2px
                display inline-block
                padding 13px
                background-color #ffea00
                color #000
                font bold 52px "Century Gothic"
                text-transform uppercase
                margin-bottom 0
                &:nth-child(2)
                  margin-right -200px
                  margin-bottom 14px
                  margin-top 8px
              .slider-desc
                display inline-block
                padding 6px 5px
                background-color #414146
                color #fff
                font bold 16px "Century Gothic"
                margin-bottom 1px
              .slider-order
                padding 5px 14px
                display inline-block
                background-color #000
                color #fff
                font bold 16px "Century Gothic"
                border-bottom 3px solid #ffea00
                transition all .5s
                &:hover
                  background-color #ffea00
                  color #000000
              .bottom-order
                padding 23px 0 0 313px
@media screen and (min-width: 768px)
  #header-main #flexslider1 ul.slides li .flex-content .slider-content h2.slider-header
    font bold 32px/28px "Century Gothic"
  #header-main #flexslider1 ul.slides li .flex-content .slider-content .slider-desc
    font bold 16px/14px "Century Gothic"
  #header-main #flexslider1 ul.slides li .flex-content .slider-content .slider-order
    padding 8px 24px
    font bold 14px "Century Gothic"
  #header-main #flexslider1 ul.slides li .flex-content .slider-content .bottom-order
    padding 14px 0 0


@media screen and (min-width: 1280px)
  #header-main #flexslider1 ul.slides li .flex-content .slider-content h2.slider-header
    font bold 70px "Century Gothic"
  #header-main #flexslider1 ul.slides li .flex-content .slider-content .slider-desc
    font bold 24px "Century Gothic"
  #header-main #flexslider1 ul.slides li .flex-content .slider-content .slider-order
    padding 11px 29px
    font bold 24px "Century Gothic"
  #header-main #flexslider1 ul.slides li .flex-content .slider-content .bottom-order
    padding 63px 0 0 333px