#page
  background url("../img/page-bg.png") no-repeat
  background-size cover
  padding 40px 0
  h1
    color #ffea00
    padding 22px
    min-width 320px
    background-color #424146
    font bold 35px "Century Gothic"
    text-transform uppercase