#works
  overflow-x hidden
  padding-bottom 90px
  .grid
    .large-2
      width 16.66667%
    .large-4
      width 33.33333%
    .grid-item
      a
        display block
        min-width 100%
        padding 2px
        img
          width 100%
          max-width 150%