#works
  overflow-x hidden
  padding-bottom 90px
  .grid
    .large-2
      width 16.66667%
    .large-4
      width 33.33333%
    .grid-item
      margin-bottom 2px
      a
        display block
        min-width 100%
        padding 2px
        img
          width 100%
          max-width 150%

@media screen and (min-width: 320px)
  #works
    .grid
      .large-2
        width 100%
      .large-4
        width 100%
      .grid-item
        margin-top 5px