#page-content
    .row
        .small-12.small-text-center
            h1.error 404
            p.error-desc page not found
            .links
                a.link-site(href="index.html") Back to homepage
                span or
                a.link-site Our Blog