include ../mixins/design-item
section#designs
    .row
        .small-12.medium-12.columns.small-text-center
            h1.sect-header We create quality designs.
            p.header-desc We specialize in Web Design / Development and Graphic Design
        .small-12.medium-12.columns
            .row
                .small-6.large-3.columns
                    +design-item("web-development")
                .small-6.large-3.columns
                    +design-item("web-development")
                .small-6.large-3.columns
                    +design-item("web-design-icon")
                .small-6.large-3.columns
                    +design-item("graphic-design-icon")