footer#footer
    .row
        .small-12.medium-6.large-4.columns
            section.about-us
                h3.sect-header About Us
                p.sect-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                a.about-learn Learn more
            section.photo
                h3.sect-header Photo Stream
                .row.row
                    .small-6.medium-4.columns
                        a(href="#")
                            img(src="img/photo/1.png" alt="")
                    .small-6.medium-4.columns
                        a(href="#")
                            img(src="img/photo/2.png" alt="")
                    .small-6.medium-4.columns
                        a(href="#")
                            img(src="img/photo/3.png" alt="")
                    .small-6.medium-4.columns
                        a(href="#")
                            img(src="img/photo/4.png" alt="")
                    .small-6.medium-4.columns
                        a(href="#")
                            img(src="img/photo/5.png" alt="")
                    .small-6.medium-4.columns
                        a(href="#")
                            img(src="img/photo/6.png" alt="")
        .small-12.medium-6.large-4.columns
            section.tweets-list
                h3.sect-header Latest tweets
                .tweets
                    .tweet-item.row.row
                        .small-2.medium-2.columns
                            i.fa.fa-3x.fa-inverse.fa-twitter(aria-hidden="true")
                        .small-10.medium-10.columns
                            p.tweet-text
                                | Check Out Dtbaker's
                                span.orange @Arduino
                                |  Sales Notification
                                span.orange #System
                            a.tweet-link(href="#") http://t.co/ WBFKIWHJ
                            p.tweet-date 3 days ago
                    .tweet-item.row.row
                        .small-2.medium-2.columns
                            i.fa.fa-3x.fa-inverse.fa-twitter(aria-hidden="true")
                        .small-10.medium-10.columns
                            p.tweet-text
                                | Check Out Dtbaker's
                                span.orange @Arduino
                                |  Sales Notification
                                span.orange #System
                            a.tweet-link(href="#") http://t.co/ WBFKIWHJ
                            p.tweet-date 3 days ago
                    .tweet-item.row.row
                        .small-2.medium-2.columns
                            i.fa.fa-3x.fa-inverse.fa-twitter(aria-hidden="true")
                        .small-10.medium-10.columns
                            p.tweet-text
                                | Check Out Dtbaker's
                                span.orange @Arduino
                                |  Sales Notification
                                span.orange #System
                            a.tweet-link(href="#") http://t.co/ WBFKIWHJ
                            p.tweet-date 3 days ago
                    .tweet-item.row.row
                        .small-2.medium-2.columns
                            i.fa.fa-3x.fa-inverse.fa-twitter(aria-hidden="true")
                        .small-10.medium-10.columns
                            p.tweet-text
                                | Check Out Dtbaker's
                                span.orange @Arduino
                                |  Sales Notification
                                span.orange #System
                            a.tweet-link(href="#") http://t.co/ WBFKIWHJ
                            p.tweet-date 3 days ago
                    .tweet-item.row.row
                        .small-2.medium-2.columns
                            i.fa.fa-3x.fa-inverse.fa-twitter(aria-hidden="true")
                        .small-10.medium-10.columns
                            p.tweet-text
                                | Check Out Dtbaker's
                                span.orange @Arduino
                                |  Sales Notification
                                span.orange #System
                            a.tweet-link(href="#") http://t.co/ WBFKIWHJ
                            p.tweet-date 3 days ago
            section.social
            .row.row
                .medium-6.columns
                    h3.sect-header Social Connecting
                .medium-6.columns
                    ul.social-list
                        li.soc-icon
                            a(href="#")
                                i.fa.fa-inverse.fa-facebook(aria-hidden="true")
                        li.soc-icon
                            a(href="#")
                                i.fa.fa-inverse.fa-google-plus(aria-hidden="true")
                        li.soc-icon
                            a(href="#")
                                i.fa.fa-inverse.fa-twitter(aria-hidden="true")
                        li.soc-icon
                            a(href="#")
                                i.fa.fa-inverse.fa-linkedin(aria-hidden="true")
                        li.soc-icon
                            a(href="#")
                                i.fa.fa-inverse.fa-youtube(aria-hidden="true")
                        li.soc-icon
                            a(href="#")
                                i.fa.fa-inverse.fa-steam(aria-hidden="true")
                        li.soc-icon
                            a(href="#")
                                i.fa.fa-inverse.fa-rss(aria-hidden="true")
        .small-12.medium-6.large-4.columns
            section.contact
                h3.sect-header Contact info
                .contact-list
                    .row.row.contact-item
                        .small-2.medium-2.columns
                            span.contact-icon
                                i.fa.fa-inverse.fa-map-marker(aria-hidden="true")
                        .small-10.medium-10.columns
                            p.contact-data Address: 12569 Saint Patrick des Prés, 85000 Paris, France
                    .row.row.contact-item
                        .small-2.medium-2.columns
                            span.contact-icon
                                i.fa.fa-inverse.fa-volume-control-phone(aria-hidden="true")
                        .small-10.medium-10.columns
                            p.contact-data
                                | Phone:
                                a(href="tel:+380987334316")  +38 045 845-45-78
                            p.contact-data
                                a(href="tel:+380935123215") +38 045 845-45-79
                    .row.row.contact-item
                        .small-2.medium-2.columns
                            span.contact-icon
                                i.fa.fa-inverse.fa-envelope(aria-hidden="true")
                        .small-10.medium-10.columns
                            p.contact-data
                                | E-mail:
                                a(href="mailto:mc_sharingan@mail.ru")
                                    span.orange  freeforwebdesign@gmail.com
            section.follow
                h3.sect-header Follow Us
                p.sect-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .form
                    #mc_embed_signup
                        form#mc-embedded-subscribe-form.validate(action='//twitter.us14.list-manage.com/subscribe/post?u=f038cb5827c75699c6c2f74b9&id=7c2718eace', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                            #mc_embed_signup_scroll.row.row
                                .small-8.medium-8.columns
                                    input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='')
                                div(style='position: absolute; left: -5000px;', aria-hidden='true')
                                    input(type='text', name='b_f038cb5827c75699c6c2f74b9_7c2718eace', tabindex='-1', value='')
                                .small-2.medium-1.columns
                                    button#mc-embedded-subscribe(name="subscribe" type="submit")
                                        i.fa.fa-inverse.fa-envelope-o(aria-hidden="true")
#footer-copy
    .row.align-middle
        .small-12.large-5.columns.small-text-center.large-text-left
            p.copy Copyright 2013 - FreeForWebDesign.com - All Rights Reserved
        .small-12.large-7.columns
            nav#main-nav
                ul.menu
                    li
                        a(href="#") HOME
                    li
                        a(href="#") PORTFOLIO
                    li
                        a(href="#") BLOG
                    li
                        a(href="#") about us
                    li
                        a(href="#") CONTACT