header#header-top.row.align-middle
    .medium-4.columns
        h1
            a(href="./")
                img(src="img/logo.png" alt="logotype")
    .medium-8.columns
        nav#main-nav
            ul.menu.align-right
                li.active
                    a(href="#") HOME
                li
                    a(href="#") PORTFOLIO
                li
                    a(href="#") BLOG
                li
                    a(href="#") about us
                li
                    a(href="#") CONTACT
section#header-main
    #flexslider1.flexslider
        ul.slides
            li
                img(src='img/slider-bg.png')
                .flex-content
                    .row.slider-content
                        .medium-6.columns.slider-content-text
                            h2.slider-header We believe
                            h2.slider-header in quality design
                            p.slider-desc Any creative project is unique
                            p.slider-desc and should be provided with
                            p.slider-desc the appropriate quality
                            .bottom-order
                                a.slider-order(href="#") Order Now
                        .medium-6.columns
                            .row.clearfix
                                .medium-3
                                    img(src="img/slider/1.png" alt="")
                                .medium-3
                                    img(src="img/slider/2.png" alt="")
                                .medium-3
                                    img(src="img/slider/3.png" alt="")
                                .medium-3
                                .medium-3.medium-offset-3
                                    img(src="img/slider/4.png" alt="")
                                .medium-3
                                    img(src="img/slider/5.png" alt="")
                                .medium-3
                                    img(src="img/slider/6.png" alt="")
                                .medium-3
                                    img(src="img/slider/7.png" alt="")
                                .medium-3
                                    img(src="img/slider/8.png" alt="")
                                .medium-3
                                    img(src="img/slider/9.png" alt="")
                                .medium-3
                                .medium-3.medium-offset-3
                                    img(src="img/slider/10.png" alt="")
            li
                img(src='img/slider-bg.png')
                .flex-content
                    .row.slider-content
                        .medium-6.columns.slider-content-text
                            h2.slider-header We believe
                            h2.slider-header in quality design
                            p.slider-desc Any creative project is unique
                            p.slider-desc and should be provided with
                            p.slider-desc the appropriate quality
                            .bottom-order
                                a.slider-order(href="#") Order Now
                        .medium-6.columns
                            .row.clearfix
                                .medium-3
                                    img(src="img/slider/1.png" alt="")
                                .medium-3
                                    img(src="img/slider/2.png" alt="")
                                .medium-3
                                    img(src="img/slider/3.png" alt="")
                                .medium-3
                                .medium-3.medium-offset-3
                                    img(src="img/slider/4.png" alt="")
                                .medium-3
                                    img(src="img/slider/5.png" alt="")
                                .medium-3
                                    img(src="img/slider/6.png" alt="")
                                .medium-3
                                    img(src="img/slider/7.png" alt="")
                                .medium-3
                                    img(src="img/slider/8.png" alt="")
                                .medium-3
                                    img(src="img/slider/9.png" alt="")
                                .medium-3
                                .medium-3.medium-offset-3
                                    img(src="img/slider/10.png" alt="")
            li
                img(src='img/slider-bg.png')
                .flex-content
                    .row.slider-content
                        .medium-6.columns.slider-content-text
                            h2.slider-header We believe
                            h2.slider-header in quality design
                            p.slider-desc Any creative project is unique
                            p.slider-desc and should be provided with
                            p.slider-desc the appropriate quality
                            .bottom-order
                                a.slider-order(href="#") Order Now
                        .medium-6.columns
                            .row.clearfix
                                .medium-3
                                    img(src="img/slider/1.png" alt="")
                                .medium-3
                                    img(src="img/slider/2.png" alt="")
                                .medium-3
                                    img(src="img/slider/3.png" alt="")
                                .medium-3
                                .medium-3.medium-offset-3
                                    img(src="img/slider/4.png" alt="")
                                .medium-3
                                    img(src="img/slider/5.png" alt="")
                                .medium-3
                                    img(src="img/slider/6.png" alt="")
                                .medium-3
                                    img(src="img/slider/7.png" alt="")
                                .medium-3
                                    img(src="img/slider/8.png" alt="")
                                .medium-3
                                    img(src="img/slider/9.png" alt="")
                                .medium-3
                                .medium-3.medium-offset-3
                                    img(src="img/slider/10.png" alt="")
            li
                img(src='img/slider-bg.png')
                .flex-content
                    .row.slider-content
                        .medium-6.columns.slider-content-text
                            h2.slider-header We believe
                            h2.slider-header in quality design
                            p.slider-desc Any creative project is unique
                            p.slider-desc and should be provided with
                            p.slider-desc the appropriate quality
                            .bottom-order
                                a.slider-order(href="#") Order Now
                        .medium-6.columns
                            .row.clearfix
                                .medium-3
                                    img(src="img/slider/1.png" alt="")
                                .medium-3
                                    img(src="img/slider/3.png" alt="")
                                .medium-3
                                    img(src="img/slider/2.png" alt="")
                                .medium-3
                                .medium-3.medium-offset-3
                                    img(src="img/slider/5.png" alt="")
                                .medium-3
                                    img(src="img/slider/4.png" alt="")
                                .medium-3
                                    img(src="img/slider/8.png" alt="")
                                .medium-3
                                    img(src="img/slider/6.png" alt="")
                                .medium-3
                                    img(src="img/slider/7.png" alt="")
                                .medium-3
                                    img(src="img/slider/9.png" alt="")
                                .medium-3
                                .medium-3.medium-offset-3
                                    img(src="img/slider/10.png" alt="")

script.
    $(window).load(function () {
        $('#flexslider1').flexslider({
            animation: "slide",
            prevText: "",
            nextText: ""
        });
    });