head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Skoko
    link(rel="stylesheet" href="css/libs.min.css")
    link(rel="stylesheet" href="css/main.css")
    script(src="js/libs.min.js")
    link(href='//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css', rel='stylesheet', type='text/css')
    style(type='text/css').
            #mc_embed_signup {
                clear      : left;
                font       : 14px Helvetica, Arial, sans-serif;
                width      : 100%;
            }