section#header-main
    #flexslider1.flexslider
        ul.slides
            li
                .flex-content
                    .row.slider-content
                        .small-12.medium-6.columns.slider-content-text.small-text-center.medium-text-left
                            h2.slider-header We believe
                            h2.slider-header in quality design
                            p.slider-desc Any creative project is unique
                            p.slider-desc and should be provided with
                            p.slider-desc the appropriate quality
                            .bottom-order
                                a.slider-order(href="#") Order Now
                        .small-12.medium-6.columns
                            .row.clearfix
                                .small-3.medium-3
                                    img(src="img/slider/1.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/2.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/3.png" alt="")
                                .small-3.medium-3
                                .small-3.small-offset-3.medium-3.medium-offset-3
                                    img(src="img/slider/4.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/5.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/6.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/7.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/8.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/9.png" alt="")
                                .small-3.medium-3
                                .small-3.small-offset-3.medium-3.medium-offset-3
                                    img(src="img/slider/10.png" alt="")
            li
                .flex-content
                    .row.slider-content
                        .small-12.medium-6.columns.slider-content-text
                            h2.slider-header We believe
                            h2.slider-header in quality design
                            p.slider-desc Any creative project is unique
                            p.slider-desc and should be provided with
                            p.slider-desc the appropriate quality
                            .bottom-order
                                a.slider-order(href="#") Order Now
                        .small-12.medium-6.columns
                            .row.clearfix
                                .small-3.medium-3
                                    img(src="img/slider/1.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/2.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/3.png" alt="")
                                .small-3.medium-3
                                .small-3.small-offset-3.medium-3.medium-offset-3
                                    img(src="img/slider/4.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/5.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/6.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/7.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/8.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/9.png" alt="")
                                .small-3.medium-3
                                .small-3.small-offset-3.medium-3.medium-offset-3
                                    img(src="img/slider/10.png" alt="")
            li
                .flex-content
                    .row.slider-content
                        .small-12.medium-6.columns.slider-content-text
                            h2.slider-header We believe
                            h2.slider-header in quality design
                            p.slider-desc Any creative project is unique
                            p.slider-desc and should be provided with
                            p.slider-desc the appropriate quality
                            .bottom-order
                                a.slider-order(href="#") Order Now
                        .small-12.medium-6.columns
                            .row.clearfix
                                .small-3.medium-3
                                    img(src="img/slider/1.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/2.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/3.png" alt="")
                                .small-3.medium-3
                                .small-3.small-offset-3.medium-3.medium-offset-3
                                    img(src="img/slider/4.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/5.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/6.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/7.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/8.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/9.png" alt="")
                                .small-3.medium-3
                                .small-3.small-offset-3.medium-3.medium-offset-3
                                    img(src="img/slider/10.png" alt="")
            li
                .flex-content
                    .row.slider-content
                        .small-12.medium-6.columns.slider-content-text
                            h2.slider-header We believe
                            h2.slider-header in quality design
                            p.slider-desc Any creative project is unique
                            p.slider-desc and should be provided with
                            p.slider-desc the appropriate quality
                            .bottom-order
                                a.slider-order(href="#") Order Now
                        .small-12.medium-6.columns
                            .row.clearfix
                                .small-3.medium-3
                                    img(src="img/slider/1.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/2.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/3.png" alt="")
                                .small-3.medium-3
                                .small-3.small-offset-3.medium-3.medium-offset-3
                                    img(src="img/slider/4.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/5.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/6.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/7.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/8.png" alt="")
                                .small-3.medium-3
                                    img(src="img/slider/9.png" alt="")
                                .small-3.medium-3
                                .small-3.small-offset-3.medium-3.medium-offset-3
                                    img(src="img/slider/10.png" alt="")