mixin design-item(img)
    .design-item
        .overlay
            .design-img
                img(src="img/bog-post-img.png" alt="")
            .design-block
                p.design-desc Redesigning With Personality
                p.design-category
                    | in
                    span  web design
        .design-img
            img(src="img/#{img}.png" alt="")
            p.design-img-desc web development
        .design-block
            p.design-desc Lorem ipsum dolor sit amet, consectetur.