html(lang="ru")
    include includes/head
    body
        include includes/header
        include includes/designs
        include includes/works
        include includes/clients
        include includes/footer
        script.
            $(document).foundation();